*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body >header{
    background-color: rgb(6, 43, 43);
    padding: 16px 0;
    color:antiquewhite
}

header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a{
    color: white;
    text-decoration: none;
}

.container {
    width: 1366px;
    justify-content: space-between;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    height: 180px;
}

.articles article{
    width: 30%;
}

section{
    padding: 16px 0;
}

section h2
.articles article{
    margin-bottom: 16px;
}

.articles article h3{
    margin-top: 0px;
    margin-bottom: 5px;
}

.articles article a{
    background-color: rgb(54, 54, 206);
    color: aliceblue;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a:hover{
    text-decoration: underline;
}

.articles article p,
.articles a{
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 18px;
}

section h2{
    font-size: 25px;
}

section h2, .articles article{
    margin-bottom: 1px;
} 

#sports {
    background-color: rgba(54, 54, 206, 0.1);
}

#sports .articles a{
    background-color: rgb(54, 54, 206);
}

#economy{
    background-color: rgba(221, 218, 50, 0.1);
}

#economy .articles a{
    background-color: rgb(185, 183, 45);
}

#tecnology{
    background-color: rgba(197, 43, 133, 0.158);
}

#tecnology .articles a{
    background-color: brown;
}

.articles article img{
    width: 200px;
    height: 150px;
}

#entertainment{
    background-color: rgba(24, 158, 75, 0.158);
} 

#entertainment .articles a{
    background-color: rgb(92, 175, 75);
}